@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  scroll-behavior: smooth;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  height: 100vh;
}

/* Propiedad que solo funciona en algunos navegadores, pero se
ira implementando en el futuro. Amplia las text-area segun su contenido. No es relevante para la funcionalidad, pero es comodo */
textarea {
  field-sizing: content;
}

/* Omolon CSS Linear Gradient Background */
.gradient {
  background: #091e3a;
  background: linear-gradient(to right, #091e3a, #2f80ed, #2d9ee0);
}

@layer base {
  :root {
    /* Superficies */
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    /* Acentos ui */
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;

    /* Text decoration */
    --emphasis: 216.4 66.8% 51.6%;
    --editor: 172.5 66% 50.4%;
    --admin: 270.7 91% 65.1%;
    --staff: 75 67% 45%;

    /* Estados */
    --destructive-foreground: 17.5 88.3% 40.4%;
    --destructive: 0 0% 98%;
    --warning-foreground: 43.3 96.4% 56.3%;
    --warning: 0 0% 98%;
    --info-foreground: 198.4 93.2% 59.6%;
    --info: 0 0% 98%;
    --success-foreground: 83.7 80.5% 44.3%;
    --success: 0 0% 98%;

    /* Bordes */
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 346.8 77.2% 49.8%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }

  .dark {
    /* Superficies */
    --background: 216 46% 14%;
    --foreground: 215 8.2% 97.2%;
    --card: 215 48.6% 5.72%;
    --card-foreground: 215 8.2% 77.2%;
    --popover: 215 48.6% 5.72%;
    --popover-foreground: 215 8.2% 97.2%;
    --muted: 215 41% 13.2%;
    --muted-foreground: 215 8.2% 54.4%;

    /* Acentos ui */
    --primary: 346.8 77.2% 49.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --accent: 216.2 67% 21.4%;
    --accent-foreground: 216.4 66.8% 51.6%;

    /* Text decoration */
    --emphasis: 216.4 66.8% 51.6%;
    --editor: 172.5 66% 50.4%;
    --admin: 270.7 91% 65.1%;
    --staff: 75 67% 45%;

    /* Estados */
    --info-foreground: 198.4 93.2% 59.6%;
    --info: 204 80.2% 15.9%;
    --success-foreground: 83.7 80.5% 44.3%;
    --success: 89.3 80.4% 10%;
    --destructive-foreground: 17.5 88.3% 40.4%;
    --destructive: 13 81.1% 14.5%;
    --warning-foreground: 43.3 96.4% 56.3%;
    --warning: 26 83.3% 14.1%;

    /* Otros */

    --border: 215 41% 13.2%;
    --input: 215 41% 13.2%;
    --ring: 346.8 77.2% 49.8%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
